@font-face {
    font-family: "baloo-bold";
    src: url("../assets/fonts/static/BalooXtraB.ttf");
}
@font-face {
    font-family: "baloo";
    src: url("../assets/fonts/static/BalooReg.ttf");
}
@font-face {
    font-family: "lato-bold";
    src: url("../assets/fonts/Lato-Black.ttf");
}
@font-face {
    font-family: "lato";
    src: url("../assets/fonts/Lato-Regular.ttf");
}